/networks/240/10/smallworld/
/networks/240/12/smallworld/
/networks/240/14/smallworld/
/networks/240/18/smallworld/
/networks/240/20/smallworld/
/networks/240/22/smallworld/
/networks/240/24/smallworld/
/networks/240/26/smallworld/
/networks/240/28/smallworld/
/networks/240/30/smallworld/
/networks/240/32/smallworld/
/networks/240/4/smallworld/
/networks/240/6/smallworld/
/networks/240/8/smallworld/
